#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.active {
  background-color: rgb(231, 241, 231);
  border: 1px solid green;
}

.inactive {
  background-color: rgb(236, 223, 223);
  border: 1px solid red;
}

table {
  width: 90%;
  margin: 5%;
}