#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

table {
  width: 90%;
  margin: 5%;
}

.icon {
  width: 30px;
  height: 30px;
}

.icon.lang {
  margin: 5px;
}

.icon:hover {
  opacity: 70%;
  cursor: pointer;
}

.icon:active {
  padding: 1px;
}

.product .picture {
  width: 100px;
  height: 100px;
}

.carousel {
  width: 620px;
  margin: auto;
}

.carousel .carousel-caption {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white !important;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
                 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}